/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Banner
- Scalable Container
- Remove Undo
/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
    height: 50px;
    background-color: #0D76BF;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-bottom: 10px;
}

.banner h5 {
    color: white;
    margin-left: 5%;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size:2rem;
    line-height:1;
    text-transform:uppercase;
}

.banner Img {
    position: relative;
    float: right;
    right: 5%;
    height: 40px;
}

.section-banner {
    background-color:#F5F5F5;
    color: #2a3f5f;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 3px 2px 2px #2a3f5f;
    padding: 5px 5px;
    height: 30px;
}

#top-section-container {
    margin: 10px 0px;
}

#metric_header > div {
    font-weight: bold;
}
/* Scalable Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container.scalable {
    width: 90%;
    max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
  display: none;
}

#learn-more-button {
    background-color: #0D76BF;
}

#Para1_button, #Para2_button, #Para3_button, #Para4_button, #Para5_button{
    padding: 0px 0px;
}

/* The Modal (background) */
.modal {
    display: none; /*Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1005; /* Sit on top */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.markdown-container {
    width: 60vw;
    margin: 10% auto;
    padding: 10px 15px;
    background-color: #F9F9F9;
    border-radius: 10px;
}

.close-container {
    width: 100%;
    margin: 0;
    padding: 0;
    height: 40px;
}

.closeButton {
    padding: 0 15px;
    font-weight: normal;
    float: right;
    height:100%;
    border:none;
}