/* Table of contents
––––––––––––––––––––––––––––––––––––––––––––––––––
- Banner
- Scalable Container
- Remove Undo
/* Banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.banner {
    height: 50px;
    background-color: #0D76BF;
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    width: 100%;
    margin-bottom: 10px;
}

.banner h5 {
    color: white;
    margin-left: 5%;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-size:2rem;
    line-height:1;
    text-transform:uppercase;
}

.banner Img {
    position: relative;
    float: right;
    right: 5%;
    height: 40px;
}

.section-banner {
    background-color:#E1FFFF;
    color: #2a3f5f;
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 0 3px 2px 2px #2a3f5f;
    padding: 5px 5px;
}

#top-section-container {
    margin: 10px 0px;
}

/* Scalable Container
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container.scalable {
    width: 90%;
    max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
  display: none;
}

.metric-row:hover{
    background-color: #6c6c6c !important;
    cursor: pointer;
}

#metric_list .svg-container .main-svg{
    height: 100% !important;
    width:100% !important;
}
#metric_list .plot-containery{
    height: 100% !important;
    width:100% !important;
}
#metric_list .plotly{
    height: 100% !important;
    width:100% !important;
}

#metric_list .svg-container {
    height: 100% !important;
    width:100% !important;
}